html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100%;
  font-family: sans-serif;
  line-height: 24px;
  word-wrap: break-word;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  font-size: 1.4em;
  padding: 8px 24px;
  line-height: 32px;
  color: #222;
  background: #E0EBF5;
}

#container {
  position: fixed;
  top: 48px;
  bottom: 0;
  left: 0;
  right: 0;
}


#editor-container {
  position: fixed;
  top: 48px;
  left: 0;
  height: 100%;
  width:50%;
  z-index: 40;
}

#editor-controls {
  position: absolute;
  top: 0;
  left: 0;
  height: 48px;
  width: 100%;
  background: #ccccff;
}

#editor { 
  position: absolute;
  top: 48px;
  bottom: 0;
  left: 0;
  width: 100%;
}

#lesson {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  overflow: scroll;
}

#lessonText {
  padding: 20px;
}

/* MAIN PAGE */
#content {
  width: 90%;
  max-width: 800px;
  margin: 0 auto 32px auto;
  padding: 48px;
}

.lesson {
  background: #E0EBF5;
  padding: 8px 16px;
  margin: 16px 0;
  position: relative;
}

.lesson-title {
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  margin: 16px 0 0 0;
  padding-right: 48px;
}

.lesson a {
  text-decoration: none;
}

#content a {
  color: #375eab;
}
