---
layout: main 
title: Learn Csound
---
<h1>Lessons in Csound</h1>

<p>This is a community-developed site for learning Csound. It uses a web version of Csound which runs in the browser (no plugins necessary).</p>

<h2>Lessons</h2>

{% for lesson in site.lessons %}
<div class="lesson">
  <a href="/{{lesson.url}}" class="lesson-title">{{lesson.title}}</a>
  <p>{{lesson.excerpt}}</p>
</div>
{% endfor %}

<h2>Pieces</h2>

{% for piece in site.pieces %}
<div class="lesson">
  <a href="/{{piece.url}}" class="lesson-title">{{piece.title}}</a>
  <p>{{piece.excerpt}}</p>
</div>
{% endfor %}

<h2>Credits</h2>

<p>This site's style and design is heavily modeled on <a href="https://tour.golang.org/list">A Tour of Go</a>. 
</p>
