<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lessons in Csound</title>
    <link href="{{BASE_PATH}}/css/csound-lessons.css" rel="stylesheet">
    <script>
      const CSD_PATH = "{{ page.csd }}";
    </script>
    <script src="{{BASE_PATH}}/js/require.js" type="text/javascript" charset="utf-8" data-main="{{BASE_PATH}}/js/main.js"></script>

  </head>
  <body>

    <div id="header">
      <a href="/">Lessons in Csound</a>
    </div>

    <div id="container">
      <div id="editor-container">
        <div id="editor-controls">

          <div class="btn-group btn-group pull-right">
            <button type="button" class="btn btn-primary btn-sm" id="CompileButton">Compile</button>
            <button type="button" class="btn btn-primary btn-sm" id="PerformButton">Perform</button>
            <button type="button" class="btn btn-primary btn-sm" id="RenderButton">Render</button>
            <button type="button" class="btn btn-primary btn-sm" id="ResetButton">Reset</button>
          </div>
        </div>
        <div id="editor"></div>
      </div>
      <div id="lesson">
        <div id="lessonText">
          {{ content }}
        </div>
      </div>
    </div>

  </body>
</html>
